body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-family:monospace;
}

.backgroundContenedor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; 
}

.backgroundContenedor img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(30%); 
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


header {
    background-color: rgb(2, 36, 33);
    color: blanchedalmond;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.menu-btn {
    margin-left: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: relative;
    justify-content: space-between;
    height: 20px;
    transform: translate(-50%, -50%);
  }
  
  .menu-btn div {
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(31, 112, 150, 0.808);
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 0.3s ease-in-out;
  }
  
  
  .activelinea1__btn-menu {
    transform: rotate(45deg) 
    translate(-10px, 2px);
  }
  
  .activelinea2__btn-menu {
    opacity: 0;
    margin-left: -30px;
  
  }
  
  .activelinea3__btn-menu {
    transform: rotate(-45deg) 
    translate(-10px, -2px);
  }

  .contenedorBarra {
    flex-direction: column;
    display: flex;
  }

  .menu {
    display: none;

  }
  
  

  .menu.active {
    display: block;
  }
  
  .menu .menu-options {
    list-style: none;
    padding: 0;
    width: 150px;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 150px;
    right: 0;
    color: #fff;
    font-size: 18px;
    z-index: 300;
  }
  
  .menu .menu-options li {
    padding: 10px 0;
  }
  
  .menu .menu-options li a {
    color: skyblue;
    text-decoration: none;
  }
  .menu-name {
    margin: 50px 0 0 0;
    flex-direction: column;    
    background-color: #333;
    position: fixed;
    top: 0px;
    right: 0;
    color: #fff;
    z-index: 300;
}

    
@media only screen and (min-width: 600px) {

  header {
    display: flex;
    margin-left: 250px;
  }
  .header h1 {
      margin-right: 100px;
  }
  .menu-btn {
      display: none;
  }

  .menu {
  margin-top: 20px;
  display: block; 
  position: static;
  display: flex;
  align-items: center;
  margin-right: 400px;
}


.menu .menu-options {
  align-items: start;
  position: static; 
  display: flex; 
  background-color: transparent; 
  z-index: auto; 
}

.menu .menu-options li {
  padding: 0 20px; 
}
  .menu.menu-options {
      list-style: none;
      padding: 0;
      display: flex;
      position: fixed;
      top: 50px; 
      justify-content: space-between;
      align-items: center;
  }
  .menu-name {
      display: none;
  }
  
  .menu .menu-options p {
      text-align: center;
      font-family: monospace;
      font-size: 18px;
  }
  .menu .menu-options a.fa-home {
      margin-left: 40px;
      align-items: center;
  }

  .menu .menu-options a.fa-tasks {
      margin-left: 30px;
      align-items: center;
  }

  .menu .menu-options a.fa-mail-bulk {
      margin-left: 20px;
      align-items: center;
  }

  .menu .menu-options a.fa-address-card {
      margin-left: 30px;
      align-items: center;
  }

  .menu .menu-options a.fa-phone-alt {
      margin-left: 25px;
      align-items: center;
  }

  .menu .menu-options li {
      padding: 0 10px;
      display: inline-block;
  }
  
  .menu .menu-options li a {
      color: skyblue;
      text-decoration: none;
  }

  .menu .menu-options i {
      display: flex;
  }
}

@media only screen and (max-width: 600px) {

  header {
    display: flex;
    margin-left: 160px;
  }
  .menu-btn {  
  position: fixed;
  left: 88%;
  margin-bottom: 20px;
  z-index: 1000;
  }
  .menu {
      flex-direction: column;
      top: 60px;
      width: 30%;
      height: 30%;
      background-color: rgba(0, 0, 0, 0.8); 
      z-index: 1000; 
  }

  .menu .menu-name {
      display: flex;
      align-items: center;
      height: 20%;
      width: 20%;
      background-color: rgba(0, 0, 0, 0.8);
      text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5) ;
  }

  .menu-name .image {
      align-items: center;
      display: flex;
  }

  .menu .menu-name h4 {
      font-size: 20px;

      padding-bottom: 30px;
  }

  
  

  .menu .menu-options {
      box-sizing: 60px;
      width: 20%;
      background-color: rgba(0, 0, 0, 0.8);
  }
  
  .menu .menu-options p {
      display: none;
  }

  .menu .menu-options a.fa-home {
      margin-left: 30px;
  }

  .menu .menu-options a.fa-tasks {
      margin-left: 30px;
  }

  .menu .menu-options a.fa-mail-bulk {
      margin-left: 30px;
  }

  .menu .menu-options a.fa-address-card {
      margin-left: 30px;
  }

  .menu .menu-options a.fa-phone-alt {
      margin-left: 30px;
  }
}

/* Estilos Introduccion */

.contenedorIntroduccion {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; 
    height: 100%; 
    background-color: rgba(71, 74, 243, 0.356);
}

.contenidoIntroduccion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  
}

.image-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.introduccion {
  border: 2px solid #405ba5;
  background-color: #344572bc;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  height: 100%;
}
.introduccion h1 {
  font-size: 27px;
  color: rgb(134, 211, 185);
  text-align: center;
  text-decoration:aliceblue underline;
  text-shadow: 2px 2px 4px rgba(2, 11, 41, 0.87) ;
}

.introduccion h2 {
  color: rgb(13, 51, 46);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  font-size: 24px;
}

.introduccion h3 {
  color: aquamarine;
  text-align: center;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(2, 11, 41, 0.87) ;
  justify-content: center;
  align-items: center;
}

/* Estilos introduccion media query */

@media only screen and (max-width: 600px) {

  .contenedorIntroduccion {
    top: 0;
    left: 0;
    width: 160px; 
    height: 100%; 
    background-color: rgba(71, 74, 243, 0.356);
  }

  .image {
    border-radius: 50%;
    width: 100px; 
    height: 100px;
  }

  .contenedorIntroduccion h1 {
    font-size: 20px;
    color: rgb(134, 211, 185);
    text-align: center;
    text-decoration:aliceblue underline;
    text-shadow: 2px 2px 4px rgba(2, 11, 41, 0.87) ;
  }


  .introduccion {
    border: 2px solid #405ba5;
    background-color: #344572bc;
    border-radius: 10px;
    height: 100%;
  }

  .introduccion h1 {
    display: none;
  }

  .introduccion h2 {
    text-align: left; 
    font-size: 18px;

  }

  .introduccion h3 {
    text-align: left;
    font-size: 16px;
  }
}

@media only screen and (min-width: 600px) {
  .contenedorIntroduccion h1 {
    display: none;
  }

  .introduccion h1 {
    display: block;
  }
}

/* Estilos de Juego Snake */
#game-container {
  margin: 0 auto;
  width: 400px;
  position: relative;
}

#gameSnake {
  background-color: #0d1836a8;

  border: 10px solid #000;
}

@media only screen and (max-width: 600px) {

  #game-container {
    margin-left: 160px;
    width: 200px;
    text-align: center;
  }

  #gameSnake {
    height: 200px;
    width: 200px;
  }

  #mobile-controls {
    /*display: flex;
    justify-content: center;
    bottom: 10px;
    width: 100%;*/
    margin-top: 20px;
  }
  
  #mobile-controls button {
    font-size: 20px;
    padding: 5px 10px;
    margin: 5px;
  }


  #leftButton, #rightButton, #upButton {
  display: inline-block;
  }

  #upButton, #downButton {
    display: inline-block;
    margin: 0 5px;
    margin-top: 20px;
  }
  
  
}

@media only screen and (min-width: 600px) {
  #mobile-controls {
    display: none;
  }
}



/* Estilos de Social */

.social {
  border: 2px solid #405ba5;
  background-color: #344572bc;
  padding: 20px;
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 250px;
  text-align: center;
}

.social h1 {
  color: rgb(134, 211, 185);
  text-align: center;
  text-decoration:aliceblue underline;
  text-shadow: 2px 2px 4px rgba(2, 11, 41, 0.87) ;
}

.social h2 {
  color: rgb(13, 51, 46);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.social h3 {
  color: aquamarine;
  text-align: center;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(2, 11, 41, 0.87) ;
  justify-content: center;
  align-items: center;
}

.social .redes {
  text-align: center;
}

.social .redes h3 {
  color: aquamarine;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(2, 11, 41, 0.87) ;
}

.social .redes a {
  display: inline;
  height: 200px;
  width: 100px;
  text-align: center;
}

.social .redes a .fa-github {
  font-size: 30px;
  color: rgb(25, 83, 171);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(2, 11, 41, 0.87) ;
}

.social .redes a .fa-linkedin {
  font-size: 30px;
  color: rgb(25, 83, 171);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(2, 11, 41, 0.87) ;
}

.social .redes a .fa-envelope {
  font-size: 30px;
  color: rgb(25, 83, 171);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(2, 11, 41, 0.87) ;
}

.social .redes a .fa-file-pdf { 
  font-size: 30px;
  color: rgb(25, 83, 171);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(2, 11, 41, 0.87) ;
}

@media only screen and (max-width: 600px) {
  .social {
    margin-left: 160px;
  }


}

/* Estilos de proyectos */

.proyectos {
  border: 2px solid #405ba5;
  background-color: #344572bc;
  padding: 20px;
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 250px;
  text-align: center;
}
.proyectos h1 {
  color: rgb(134, 211, 185);
  text-align: center;
  text-decoration:aliceblue underline;
  text-shadow: 2px 2px 4px rgba(2, 11, 41, 0.87) ;
}

.proyectos h2 {
  color: rgb(13, 51, 46);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.proyectos p {
  color: aquamarine;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(2, 11, 41, 0.87) ;
}

.proyectos .enlace {
  display: inline-block;
  padding: 10px;
  background-color: #23377793;
  border: 1px solid #809a25;
  margin: 5px;
  position: relative;
  text-decoration: none;
  color: #333;
}

.proyectos .enlace:hover {
  background-color: #ccc;
}

.proyectos .vista-previa {
  display: none; 
  position: absolute;
  top: -50px; 
  left: 5%; 
  transform: translateX(-10%); 
  width: 30px; 
  height: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  size: 50px;
}

.proyectos .enlace:hover .vista-previa {
  display: block;
}

.proyectos .contenido {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

.proyectos .proyetoSSM {
  margin-top: 50px;
}
.proyectos .enlaceSolar img {
  width: 300px;
  background-color: antiquewhite;
}

.proyectos .enlaceSSM img {
  width: 300px;
  height: 150px;
  background-color: aquamarine;
}

@media only screen and (min-width: 600px) {
  .proyectos .proyectoSolar .pSolarH3 {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .proyectos .pSolarDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .proyectos .proyectoSSM .pSSMH3 {
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  .proyectos .pSSMDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

}

@media only screen and (max-width: 600px) {
  .proyectos {
    margin-left: 160px;
  }

  .proyectos .enlaceSolar img {
    height: 100px;
    width: 150px;
  }
    
  .proyectos .enlaceSSM img {
    height: 100px;
    width: 150px;
  }
}

/* Estilos de habilidades */

.habilidades {
  border: 2px solid #405ba5;
  background-color: #344572bc;
  padding: 20px;
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 250px;
  text-align: center;
}

.habilidades h1 {
  color: rgb(134, 211, 185);
  text-align: center;
  text-decoration:aliceblue underline;
  text-shadow: 2px 2px 4px rgba(2, 11, 41, 0.87) ;
}

.habilidades .habilidad1 {
  height: 150px;
  width: 100%;
  display: flex;
  border: 2px solid #0d1733;
  background-color: #040f2ebc;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: rgb(20, 77, 58);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(2, 11, 41, 0.87) ;
}

.habilidades .habilidad1 h3 {
  color: rgb(20, 77, 58);
  font-size: 60px;
  margin-left: 100px;
  margin-right: 100px;
}

.habilidades .habilidad1 img {
  width: 150px;
  height: 100px;
}

.habilidades .habilidad2 {
  display: flex;
  border: 2px solid #0d1733;
  background-color: #040f2ebc;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: rgb(20, 77, 58);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(2, 11, 41, 0.87) ;
}

.habilidades .habilidad2 h3 {
  color: rgb(20, 77, 58);
  font-size: 70px;
  margin-left: 100px;
  margin-right: 100px;
}

.habilidades .habilidad2 img {
  width: 150px;
  height: 100px;
}

.habilidades .habilidad3 {
  display: flex;
  border: 2px solid #0d1733;
  background-color: #040f2ebc;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: rgb(20, 77, 58);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(2, 11, 41, 0.87) ;
}

.habilidades .habilidad3 h3 {
  margin-right: 30px;
  color: rgb(20, 77, 58);
  font-size: 60px;
}

.habilidades .habilidad3 img {
  width: 150px;
  height: 100px;
}

.habilidades .habilidad4 {
  display: flex;
  border: 2px solid #0d1733;
  background-color: #040f2ebc;
  padding: 20px;
  border-radius: 10px;
  color: rgb(20, 77, 58);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(2, 11, 41, 0.87) ;
}

.habilidades .habilidad4 h3 {
  color: rgb(20, 77, 58);
  font-size: 60px;
  margin-left: 100px;
  margin-right: 100px;
}

.habilidades .habilidad4 img {
  width: 150px;
  height: 100px;
}

@media only screen and (max-width: 600px) {
  .habilidades {
    margin-left: 160px;
  }
  .habilidades h1{
    font-size: 25px;
  }
  .habilidades .habilidad1 {
    height: 100px;
    width: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .habilidades .habilidad1 h3 {
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 25px;
  }
  .habilidades .habilidad1 img {
    width: 100px;
    height: 50px;
  }
  .habilidades .habilidad2 {
    height: 100px;
    width: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .habilidades .habilidad2 h3 {
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 25px;
  }
  .habilidades .habilidad2 img {
    width: 150px;
    height: 50px;
  }
  .habilidades .habilidad3 {
    height: 100px;
    width: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .habilidades .habilidad3 h3 {
    margin-left: 0px;
    margin-right: 10px;
    font-size: 25px;
  }
  .habilidades .habilidad3 img {
    width: 80px;
    height: 50px;
  }
  .habilidades .habilidad4 {
    height: 100px;
    width: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .habilidades .habilidad4 h3 {
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 25px;
  }
  .habilidades .habilidad4 img {
    width: 100px;
    height: 50px;
  }
}

.footer {
  text-align: center;
  color: rgb(20, 77, 58);
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(2, 11, 41, 0.87) ;
}